personal_project_env/
.python-version
.tool-versions
__pycache__/
migrations/
others/
.pytest_cache/
db.sqlite3
todo.md

pg.py
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
personal_project/frontend/package-lock.json
personal_project/frontend/package.json
others/schema.sql
.gitignore
personal_project/db.sqlite3
pg.py
